{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Huzb - Change Email Address{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>修改邮箱</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{#    <div style="margin-left: 300px;width: 600px;margin-top: 100px">#}
{#    <ul class="nav nav-tabs">#}
{#        <li class="active"><a href="javascript:void(0)" id="correct_password_a" data-toggle="tab">修改密码</a></li>#}
{#        <li><a href="javascript:void(0)" id="correct_email_a" data-toggle="tab">修改邮箱</a></li>#}
{#    </ul>#}
{#    <form id="correct_password_form" class="form-horizontal" style="margin-top: 20px" role="form">#}
{#        <div class="form-group">#}
{#            <label class="col-sm-2 control-label" style="text-align: left">原密码</label>#}
{#            <div class="col-sm-6">#}
{#                <input class="form-control" id="correct_password_old" type="text">#}
{#            </div>#}
{#            <label  class="col-sm-4 control-label" style="text-align: left">213123</label>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="col-sm-2 control-label" style="text-align: left">新密码</label>#}
{#            <div class="col-sm-6">#}
{#                <input class="form-control" id="correct_password_new" type="password">#}
{#            </div>#}
{#            <label  class="col-sm-4 control-label" style="text-align: left"></label>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="col-sm-2 control-label" style="text-align: left">新密码确认</label>#}
{#            <div class="col-sm-6">#}
{#                <input class="form-control" id="correct_password_new_2" type="password">#}
{#            </div>#}
{#            <label  class="col-sm-4 control-label" style="text-align: left"></label>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default" style="background-color: rgb(13,110,184);color: #FFFFFF">提交</button>#}
{#    </form>#}
{##}
{#    <form id="correct_email_form" class="form-horizontal" style="margin-top: 20px;display: none" role="form">#}
{#        <div class="form-group">#}
{#            <label class="col-sm-2 control-label" style="text-align: left">密码</label>#}
{#            <div class="col-sm-6">#}
{#                <input class="form-control" id="correct_email_password" type="password">#}
{#            </div>#}
{#            <label  class="col-sm-4 control-label" style="text-align: left"></label>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label class="col-sm-2 control-label" style="text-align: left">新邮箱</label>#}
{#            <div class="col-sm-6">#}
{#                <input class="form-control" id="correct_email" type="text">#}
{#            </div>#}
{#            <label  class="col-sm-4 control-label" style="text-align: left"></label>#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default" style="background-color: rgb(13,110,184);color: #FFFFFF">提交</button>#}
{#    </form>#}
{#</div>#}
{% endblock %}