<!DOCTYPE html>

<div class="modal fade" id="loginMyModal" style="position: fixed;top: 25%;lef: 50%;z-index: 1050" tabindex="1050" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    x
                </button>
                <h4 class="modal-title">
                    用户登录
                </h4>
            </div>
            <form id="login-form" method="post" action="{{ url_for("auth.modallogin") }}">
                <div class="modal-body">
                    <div style="margin:0 auto">
                            {{ loginform.hidden_tag() }}
                            <br>
                            <div>
                            {{ loginform.email(class='form-control',placeholder='电子邮箱',id='login-email',style='position:absolute;z-index=:0;float:right;width: 465px;border-radius: 4px;') }}
                            <span id='login-email-message' style="position:relative;z-index:12;color: red;float: right;line-height: 38px;"></span>
                            </div>
                            <br><br><br>
                            <div>
                            {{ loginform.password(class='form-control',placeholder='密码',id='login-password',style='position:absolute;z-index=:0;float:right;width: 465px;border-radius: 4px;')}}
                            <span id='login-password-message' style="position:relative;z-index:12;color: red;float: right;line-height: 38px;"></span>
                            </div>
                            <br><br><br>
                            <div style="position:absolute;z-index: 30;">
                            {{ loginform.remember_me }}&nbsp;{{ loginform.remember_me.label }}
                            </div>
                            <div style="float: right">
                                <a href="{{ url_for('auth.password_reset_request') }}">忘记密码</a>|
                                <a href="{{ url_for('auth.register') }}">立即注册</a>
                            </div>

                    </div>
                </div>
                </br>
                <div class="modal-footer">
                    {{ loginform.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>