<!DOCTYPE html>
<div class="modal fade" id="registerMyModal" style="position: fixed;top: 25%;lef: 50%" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    用户注册
                </h4>
            </div>
            <form method="post" id="register-form" action="{{ url_for("auth.modalregister") }}">
                <div class="modal-body">
                    <div style="margin:0 auto">
                            {{ registrationform.hidden_tag() }}
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" style="height: 20px">
                                    <span class="glyphicon glyphicon-envelope" style="height: 20px"></span>
                                </span>
                                {{ registrationform.email(id="register-email",class='form-control',placeholder='电子邮箱',style='position:absolute;z-index=:0;float:right;width: 424px;border-radius: 0px 4px 4px 0px;') }}
                                <span id='register-email-message' style="position:relative;z-index:12;color: red;float: right;line-height: 38px;"></span>
                            </div>
                            <br>


                            <div class="input-group">
                                <span class="input-group-addon" style="height: 20px">
                                    <span class="glyphicon glyphicon-user" style="height: 20px"></span>
                                </span>
                                {{ registrationform.username(id="register-username",class='form-control',placeholder='用户名',style='position:absolute;z-index=:0;float:right;width: 424px;border-radius: 0px 4px 4px 0px;') }}
                                <span id='register-username-message' style="position:relative;z-index:12;color: red;float: right;line-height: 38px;"></span>
                            </div>
                            <br>


                            <div class="input-group">
                                <span class="input-group-addon" style="height: 20px">
                                    <span class="glyphicon glyphicon-lock" style="height: 20px"></span>
                                </span>
                                {{ registrationform.password(id="register-password",class='form-control',placeholder='密码',style='position:absolute;z-index=:0;float:right;width: 424px;border-radius: 0px 4px 4px 0px;')}}
                                <span id='register-password-message' style="position:relative;z-index:12;color: red;float: right;line-height: 38px;"></span>
                            </div>
                            <br>


                            <div class="input-group">
                                 <span class="input-group-addon" style="height: 20px">
                                    <span class="glyphicon glyphicon-lock" style="height: 20px"></span>
                                </span>
                                {{ registrationform.password2(id="register-password2",class='form-control',placeholder='确认密码',style='position:absolute;z-index=:0;float:right;width: 424px;border-radius: 0px 4px 4px 0px;')}}
                                <span id='register-password2-message' style="position:relative;z-index:12;color: red;float: right;line-height: 38px;"></span>
                            </div>
                    </div>
                </div>
                </br>
                <div class="modal-footer">
                    {{ registrationform.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>