.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    min-height: 80px;
    padding: 5px 0;
    position: relative;
    margin-left: 0;
    outline: 0;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

.wb-top-nav-li {
    background: #075fb6;
    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
    background: linear-gradient(to bottom,#055fb8,#095fb3);
    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}

.wb-main {
    min-height: 340px;
    padding: 25px 0 50px;
    position: relative;
    z-index: 2;
}
.wb-wrap {
    width: 960px;
    margin: 0 auto;
    clear: both;
}

.wb-post-footer:hover{
    color: #259;
    text-decoration: none;
}
.wb-post-footer{
    color: #b3b3b3;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.wb-top-login {
    float: right;
    width: 66px;
    height: 32px;
    line-height: 30px;
    margin-top: 7px;
    border: 1px solid #045bb2;
    border-radius: 4px;
    background: #0e78e7;
    background: -webkit-linear-gradient(top,#0e7bef,#0d73da);
    background: linear-gradient(to bottom,#0e7bef,#0d73da);
    box-shadow: 0 1px 2px rgba(0,0,0,.05), inset 0 1px 1px rgba(255,255,255,.15);
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body{
    overflow: auto !important;
    padding-right:0px !important;
}

.remodal{
    overflow:hidden;
}

.password-icon {
    padding-left:30px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 6px;
    background-image: url("image/password.png");
}

.email-icon {
    padding-left:30px;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 6px;
    background-image: url("image/email.png");
}