<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment()}}
    {{ moment.locale('zh-cn') }}
    <script type="text/javascript" src="{{ url_for('static',filename='remodal/remodal.js') }}"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static',filename='MyAjax.js') }}"></script>
    <script>
    $("#login-email").focus(function () {
          $("#login-email-message").hide();
        });
    $("#login-password").focus(function () {
        $("#login-password-message").hide();
    });
    $(function(){
        if($("#login-email-message").text()) {
            $("#login-password-message").hide();
            $('#loginMyModal').modal('show');
        }
        else if($("#login-password-message").text())
        {
            $('#loginMyModal').modal('show');
        }
    })
    $(function () { $('#collapseTwo').collapse('show')});
    $(function () { $('#collapseThree').collapse('show')});
    $(function () { $('#collapseOne').collapse('show')});

{#    $(document).ready(function() {#}
{#    // 使用 jQuery 异步提交表单#}
{#    $('#editRealMsgForm').submit(function() {#}
{#    jQuery.ajax({#}
{#    url: 'editRealMsg.eri',#}
{#    data: $('#editRealMsgForm').serialize(),#}
{#    type: "POST",#}
{#    beforeSend: function()#}
{#    {  #}
{#    $('#submitButton').hide();#}
{#    $('#editRealMsgImg').show();#}
{#    },#}
{#    success: function()#}
{#    {#}
{#    $('#editRealMsgImg').hide();#}
{#    $('#modifyButton').show();#}
{#    $('#realName').attr("disabled","true");#}
{#    $('#tel').attr("disabled","true");#}
{#    }#}
{#    });#}
{#    return false;#}
{#    });#}
{#    });#}
    window.onload = function () {

        var loginform=document.getElementById("login-form");
        loginform.reset();
    }
    </script>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='remodal/remodal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='remodal/remodal-default-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <!--浏览器缓存禁用,开发时使用-->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
{% endblock %}

{% block title %}微博{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="wb-wrap">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size: 24px;cursor: pointer">微博</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" style="cursor: pointer">首页</a> </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.user',username=current_user.username) }}">
                        个人资料
                    </a>
                </li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default" style="background-color: #222;back-color:#222"><span
                        style="font-color:#ffffff">搜索</span>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    <li><a href="{{ url_for('main.moderate') }}">管理评论</a> </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=16) }}">
                        账户<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="float: right">
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a> </li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a> </li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <ul class="nav navbar-nav" style="float: right">
                    <li><a href="#" data-toggle="modal" data-target="#registerMyModal">注册</a></li>
{#                    <li><a href="#loginModal">登录</a></li>#}
                </ul>
                <button class="wb-top-login" id="loginButton" style="float: right" data-toggle="modal" data-target="#loginMyModal">登录</button>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div style="height: 50px"></div>
{% endblock %}

<!--login and register modal-->
{% if not current_user.is_authenticated%}
{% include 'auth/register.html' %}
{% include 'auth/login.html' %}
{% endif %}

{% block content %}

<div class="wb-main wb-wrap">
<div class="col-lg-8">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
<div class="col-lg-4">
    {% block index_panel %}{% endblock %}
</div>
</div>
{% endblock %}