<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment()}}
    {{ moment.locale('zh-cn') }}
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static',filename='MyAjax.js') }}"></script>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wangEditor/wangEditor.min.css') }}">
{% endblock %}

{% block title %}微博{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="wb-wrap">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index" style="font-size: 24px;cursor: pointer">微博</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index" style="cursor: pointer">首页</a> </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.user',username=current_user.username) }}">
                        个人资料
                    </a>
                </li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('main.search') }}" role="search">
                <div class="form-group">
                    <input id="keyword" type="text" name="keyword" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="wb-top-login" style="height: 38px;margin-top:auto;vertical-align: middle">
                    <span style="color:#ffffff">搜索</span>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                    <li><a href="{{ url_for('main.moderate') }}">管理评论</a> </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=16) }}">
                        账户<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="float: right">
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a> </li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a> </li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <ul class="nav navbar-nav" style="float: right">
                    <li><a href="#" data-toggle="modal" data-target="#registerMyModal">注册</a></li>
                </ul>
                <button class="wb-top-login" id="loginButton" style="float: right" data-toggle="modal" data-target="#loginMyModal">登录</button>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div style="height: 50px"></div>
{% endblock %}

<!--login and register modal-->
{% if not current_user.is_authenticated%}
{% include 'auth/register.html' %}
{% include 'auth/login.html' %}
{% endif %}

{% block content %}


<div class="wb-main wb-wrap" style="height: auto">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
{% block user_content %}{% endblock %}
<div class="col-lg-8" style="background: #ffffff;">
    {% block page_content %}{% endblock %}
</div>
<div class="col-lg-4" style="padding-left:30px;padding-right: 0px;">
    {% block index_panel %}{% endblock %}
</div>
</div>
{% endblock %}