<!DOCTYPE html>
{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}微博 - {{ user.username }}{% endblock %}

{% block user_content %}
    <div class="main-body-1" style="min-height: 1500px">
    <div style="border: 1px solid #e7eaf1;background-color: white">
        <div class="usercovereditor"><img src="../static/image/user.jpg" style="height: 100%;width: 100%"/></div>
        <div class="row">
            <div style="position: relative;padding-bottom: 10px;height: auto;min-height: 120px">
                <div class="div-person-photo">
                    <img class="person-photo" src="{{ user.gravatar(size=156) }}">
                </div>
                <div class="person-info" style="margin-left: 210px;padding-top: 5px">
                    <div>
                        <span style="font-size: 26px">{{ user.username }}</span>
                        <span style="font-size: 18px">{% if user.about_me %}{{ user.about_me }}{% endif %}</span>
                    </div>
                    {% if user.name or user.location %}
                    <p>
                        {% if user.name %}{{ user.name }}{% endif %}
                    </p>
                    <p>
                        {% if user.location %}
                            来自 <a href="http://maps.google.com/?q={{ user.location }}">
                            {{ user.location }}
                            </a>
                        {% endif %}
                    </p>
                    {% endif %}
                    <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                    <p style="margin-right: 10px">
                        注册于 {{ moment(user.member_since).format('L') }}
                        最近登录于 {{ moment(user.last_seen).format('L') }}
                        {% if user == current_user %}
                            <a class="btn btn-default" style="float: right;margin-right: 20px;border: 1px solid #0f88eb;margin-top: -7px;" href="{{ url_for('.edit_profile') }} ">编辑个人资料</a>
                        {% endif %}
                        {% if current_user.is_administrator() %}
                            <a class="btn btn-danger" style="float: right;margin-right: 20px;border: 1px solid #0f88eb;margin-top: -7px;" href="{{ url_for('.edit_profile_admin',id=user.id) }}">编辑资料(管理员)</a>
                        {% endif %}
                        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                        {% if not current_user.is_following(user) %}
                        <a id="followeds_guanzhu" sign="just a sign" username="{{ user.username }}" onmouseout="out(this)" onmouseover="over(this)" class="btn btn-default" style="width:100px;float: right;margin-right: 20px;border: 1px solid #0f88eb;margin-top: -7px;">关注</a>
                        {% else %}
                        <a id="followeds_guanzhu" sign="just a sign" username="{{ user.username }}" onmouseout="out(this)" onmouseover="over(this)" class="btn btn-default" style="width:100px;float: right;margin-right: 20px;border: 1px solid #0f88eb;margin-top: -7px;">已关注</a>
                        {% endif %}
                        {% endif %}
                    </p>

                </div>
            </div>
    </div>
    <div>
        <div  class="profile-maincolumn" style="height: auto;margin-top: 10px;background-color: white;">
            <div class="home-directory" style="display: flex;margin-top: 15px;">
                <div style="display: block;text-align: center;width: 90px"><a id="func1" style="cursor: pointer">微博</a></div>
                <div style="display: block;text-align: center;width: 90px"><a id="func2" style="cursor: pointer">收藏</a></div>
                <div style="display: block;text-align: center;width: 90px"><a id="func3" style="cursor: pointer">关注</a></div>
                <div style="display: block;text-align: center;width: 90px"><a id="func4" style="cursor: pointer">粉丝</a></div>
            </div>
            <div id="line-1" class="test-1"></div>
            <div id="user_weibo"style="margin-right: 40px;margin-left: 10px">
            {% include '_posts.html' %}
            <div class="pagination">
            {{ macros.pagination_widget(pagination,'main.user',username=user.username) }}
            </div>
            </div>
            <div id="user_shoucang" style="margin-right: 40px;margin-left: 10px;display: none">
                {% include '_collects.html' %}
            </div>
            <div id="user_guanzhu" style="margin-right: 40px;margin-left: 10px;display: none">
                {% include '_followeds.html' %}
            </div>
            <div id="user_fensi" style="margin-right: 40px;margin-left: 10px;display: none">
                {% include '_followers.html' %}
            </div>
        </div>
        <div  class="profile-sidecolumn" style="margin-top: 10px">
            <div class="followshipcard" style="background-color: white">
                <a id="user_guanzhu_1" style="cursor: pointer">
                    <div class="numberboard-name" style="color: #8590a6">关注了</div>
                    <div class="numberboard-value followeds_count" style="color: #262626">{{ user.followed.count() - 1 }}</div>
                </a>
                <a id="user_fensi_1" style="cursor: pointer">
                    <div class="numberboard-name" style="color: #8590a6">关注者</div>
                    <div class="numberboard-value followers_count" style="color: #262626">{{ user.followers.count() - 1 }}</div>
                </a>
            </div>
            <div class="profile-lightlist"style="margin-top: 10px">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-deault">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" style="font-size: 14px">
                                    <strong>最近参与的话题</strong>
                                </a>
                            </h4>
                        </div>
                        {% for topic in topics %}
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body replace_body">
                                    #{{ topic.title }}#
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='wangEditor/jquery-1.10.2.min.js') }}" ></script>
    <script src="../static/layer/layer.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='wangEditor/wangEditor.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static',filename='wangEditor/custom-menu.js') }}" ></script>
    <script>
    var post_id;
        $(function(){
            var content = "<span class='left clearfix'>转发到:</span><form role='form'><div class='form-group'><textarea class='form-control center-block' placeholder='请输入转发内容' style='height:60px;width:464px;border: 1px solid;padding: 5px 6px 25px;outline:none;resize:none; '></textarea></div></form><button type='button' class='btn btn-warning right'>警告按钮</button>"
            $(".login-in-share").click(function(){
                post_id = $(this).attr("post_id")
                layer.open({
                    type: 1,//0:信息框; 1:页面; 2:iframe层;	3:加载层;	4:tip层
                    title:['转发微博', 'font-size:18px;'],//标题
                    area: ['510px', '300px'],//大小
                    skin: 'layui-layer-rim',
                    shadeClose: false, //点击弹层外区域 遮罩关闭
                    content: "<form role='form'><div style='height:5px'><span id='shareNum' style='float:right;margin-right:15px'></span></div><div class='form-group' style='margin-top:30px'><textarea id='shareText' class='form-control center-block ' placeholder='分享内容不能超过100字' style='height:100px;width:464px;border: 1px solid;padding: 5px 6px 25px;outline:none;resize:none; '></textarea><span id='errorhint' style='float:left;margin-left:15px;margin-top:10px;color:red;display:none'>网络繁忙，请稍后再试</span></div></form><button id='sharebutton' style='float:left;margin-left:400px' type='button' class='W_btn_b' disabled='true'>转发</button>"
                        });
                    });
                })

        $(document).on("input",
                        "#shareText",
                        function(){
                            var length = $("#shareText").val().length;
                            if(length>99||length==0)
                            {
                                $("#shareNum").html("<span>已输入<font style='color:red;font-size:18px;font-family:Constantia, Georgia;'>"+length+"</font>个字</span>");
                                $("#sharebutton").attr("disabled","true");
                                $("#sharebutton").removeClass("W_btn_a");
                                $("#sharebutton").addClass("W_btn_b");
                            }
                            else{
                                 $("#shareNum").html("<span>已输入<font style='font-size:18px;font-family:Constantia, Georgia;'>"+length+"</font>个字</span>");
                                 $("#sharebutton").removeAttr("disabled");
                                 $("#sharebutton").removeClass("W_btn_b");
                                 $("#sharebutton").addClass("W_btn_a");
                            }
                            $("#errorhint").hide();
                        }
                       );
        $(document).on("click",
                        "#sharebutton",
                        function () {
                            var text = $("#shareText").val();
                            params={"post_id":post_id,"text":text};
                            $.getJSON($SCRIPT_ROOT+'/share',params,function(data,status){
                                if(data.result)
                                {
                                    location.reload()
                                }
                                else
                                {
                                    $("#errorhint").show();
                                }
                            });

                        }
        )
    </script>
    <script type="text/javascript">
    // 获取元素
    var div = document.getElementById('div1');
    // 生成编辑器
    var editor = new wangEditor(div);
    //自定义菜单组
    editor.config.menus = [
        'bold',
        'underline',
        'italic',
        'eraser',
        'forecolor',
        '@someone',
        'topic',
        'emotion'
     ];

    editor.onchange = function () {
        var text = editor.$txt.formatText();
        if(text.length>139||text.length==0)
        {
            $("#btn1").attr("disabled","true");
           // $("#btn1").css("background-color","#ffffee")
            $("#wordnum").html("<span>已输入<font style='color:red;font-size:18px;font-family:Constantia, Georgia;'>"+text.length+"</font>个字</span>")
            $("#btn1").removeClass("W_btn_a");
            $("#btn1").addClass("W_btn_b");
            //$("#btn1").hide();
        }
        else {
            $("#btn1").removeAttr("disabled");
            //$("#btn1").show();
            $("#wordnum").html("<span>已输入<font style='font-size:18px;font-family:Constantia, Georgia;'>"+text.length+"</font>个字</span>");
            $("#btn1").removeClass("W_btn_b");
            $("#btn1").addClass("W_btn_a");
        }
    }
    editor.create();
    $("#keyword").focus();
    $("#keyword").blur();
         $('#btn1').click(function () {
        // 获取编辑器区域完整html代码
        var $html = editor.$txt.html();
        // 获取格式化后的纯文本
        var $formatText = editor.$txt.formatText();
        params={'post':$html,'text':$formatText};
        $.getJSON($SCRIPT_ROOT+'/submit',params,function(data,status){
            if(data.result)
            {
                location.reload()
            }
        });
    });
    {% if show_topic %}
        editor.$txt.html("<p>#{{ topic.title }}#&nbsp;</p>");
    {% else %}
        editor.$txt.html('<p><br></p>');
    {% endif %}

</script>
{% endblock %}
